<div class="paginate-container">
  <!-- set page size -->
  <div class="page-size select-dropdown">
    <select [(ngModel)]="currentPageSize" (ngModelChange)="changePageNumber('', searchTerm.length ? currentArray : items);"
            class="page-size__select">
      <option *ngFor="let size of pageSizes">{{size}}</option>
    </select>
  </div>
  <!-- change page number -->
  <div class="page-change">
    <button (click)="changePageNumber('back', searchTerm.length ? currentArray : items)" class="secondary__button">
      Previous
    </button>
    <div>
      <span class="page-change__number">
        <input (keyup.enter)="changePageNumber('', searchTerm.length ? currentArray : items)" [(ngModel)]="currentPage"
               [max]="totalPages" [min]="1" class="page-change__input" type="number"> of {{totalPages}}</span>
    </div>
    <button (click)="changePageNumber('next', searchTerm.length ? currentArray : items)" class="secondary__button">
      Next
    </button>
  </div>
</div>
